#!/bin/bash

# required
export PORT="4000"              # the http listen port
export BUILD_DIR="/tmp/build"   # the directory where repos are cloned to and in which the build eecutes
export LOG_DIR="/home/liam/build_logs" # the directory where log files are saved to
export DATA_FILE="/tmp/build_server_data" # python pickle persistent data file
export GIT_SECRET="M4jPX6Ms52HJcsxNyasnNQ" # the secret specified in the github repo's webhook configuration

# optional
export BUILD_FAILURE_SUBSCRIBERS="liam@tengelisconsulting.com," # comma-separated list of email addresses which to email on build failure
export GMAIL_CREDS_F="/home/liam/creds/gmail_creds.json"        # JSON credentials for a gmail account which will send build failure emails
export GMAIL_SEND_ADDR="testing@tengelisconsulting.com"         # the email address corresponding to the above credentials

# anything else you need...
export IS_CI_SERVER="1"
